data/run2/results
data/climate/wc2.1_country
maxent.jar
.Rhistory
.Rproj.user


# Ignore contents of models, but not the directory itself
data/run2/models/*
data/run2/maps/*
 
# Do not ignore Markdown files
!*.md