data/virtualSpecies/
images/*.tif
data/climate/wc2.1_country
maxent.jar
.Rhistory
.Rproj.user


# Ignore contents of models, but not the directory itself
data/run2/models/*
data/run2/resultsAggregated
data/run2/maps/*
data/run2/results
data/run3/results
data/run4/results
data/run4/maps/
data/run4/results_12_37/
data/run4/results_27_08_2025/
data/run4/results_28_08_2025/
data/run5/results
data/run6/results
data/run7/results
data/run8/results
data/run9/results
data/run10
data/run11
data/run12/maps
data/run12/results

 
# Do not ignore Markdown files
!*.md